:root {
  --bg-color: #25272a;
  --nav-color: #17181a;
  --font-color: #f5f5f5;
  --red: #f3654a;
  --blue: #555cf3;
  --todo-bg: #33404a;
  --input-bg: #1a202550;
  --font-faded: #82898f;
}

.pomodoro-timer {
  width: 400px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--todo-bg);
  margin-top: 60px;
  border-radius: 15px;
  position: relative;
}

/*
#pomodoro-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

body.page-loaded #pomodoro-overlay {
  opacity: 0;
  visibility: hidden;
}

#pomodoro-overlay img {
  width: 150px;
  height: 150px;
}
*/

/*Button*/
.pomodoro-timer .settings {
  border-radius: 15px;
  position: absolute;
  width: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  right: 40px;
}

/*Progress*/
#timer-progress {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.circle-timer {
  width: 270px;
  height: 270px;
}

.circle-background {
  stroke: var(--font-color);
  stroke-width: 7;
  fill: none;
}

.circle-progress {
  stroke: var(--red);
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 283;
  fill: none;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

#timer-time {
  fill: var(--font-color);
}

#timer-pause,
#timer-rest {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  fill: var(--font-color);
}

/*Completed sessions:*/
#timer-sessions {
  border-radius: 15px;
  background: var(--input-bg);
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#timer-sessions p {
  padding: 15px 20px;
}

p#completed-label {
  color: var(--font-faded);
}

/*Timer functions*/
#timer-functions {
  height: 145px;
  position: relative;
}

/*Settings*/

/*Play / Pause Buttons */

#timer-buttons {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#timer-buttons button {
  position: absolute;
  background-color: var(--red);
  color: var(--font-color);
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  padding-top: 2px;
}
