:root {
  --bg-color: #25272A;
  --nav-color: #17181A;
  --font-color: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-weight: 600;
}
